.sidenav-container {
  height: auto;
}

.sidenav {
  display: none;
  width: 200px;
}

.sidenav .mat-toolbar {
  width: auto;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-spacer {
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .sidenav {
    display: block;
  }
  .sidenav-container {
    height: 100%;
  }
  .navbar-links {
    display: none;
  }
}
