<section class="section">
  <h2 class="text">
    New Products
  </h2>
</section>

<div class="product-list-wrapper">
  <article class="product-list">
    <app-product-card *ngFor="let product of products$ | async" [product]="product"></app-product-card>
  </article>
</div>


<!-- <div *ngIf="productList">
  <h2>Product List</h2>
  <div *ngFor="let product of productList" class="product-card">
    <img [src]="product.photoUrl" alt="{{ product.name }}" class="product-image" />
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>Owner: {{ product.ownerName }}</p>
      <p>Location: {{ product.location }}</p>
    </div>
  </div>
</div> -->